body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    max-width: 300px;
    margin: 20px auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="email"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    width: 107%;
    padding: 10px;
    background-color: #f00a0a;
    color: white;
    border: none;
    cursor: pointer;
    
  }

  button{
    width: 107%;
    padding: 10px;
    background-color: #f00a0a;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  
  p {
    text-align: center;
  }

  select{
    width: 88%;
    padding: 8px;
    margin-bottom: 10px;
  }